
.example__title {
    padding: 69px 0 76px 20px;
}

.example__title h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 60px;
}

.container-grey {
    background-color: #F2F2F2;
}

.example__content {
    display: flex;

}

.example__content-info {
    padding: 70px 0 67px 0;
}

.content-info__paragraph {
    width: 436px;
    color: #444444;
    margin-bottom: 69px;
}

.example__content-info, .example__slider-box {
    width: 50%;
}

.content-info__results {
    display: flex;
    gap: 42px;
}

.result {
    display: flex;
    flex-direction: column;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    text-align: center;
    width: 162px;
    height: 77px;
    align-items: center;
    margin-bottom: 55px;
}

.result span {
    font-size: 14px;
    line-height: 14px;
    background-color: #F2F2F2;
    position: relative;
    top: 32px;
    width: 130px;
    display: flex;
    justify-content: center;
}

.result p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    position: relative;
    top: 18px;
}

.content-info__price-box {
    display: flex;
    gap: 63px;
}

.content-info__price-box span {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.example__slider-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
}

.slider-box__content-images {
    display: flex;
    margin-top: -200px;
}

.content-images__image {
    width: 50%;
    height: 540px;
}

.slider-box__slider {
    display: flex;
    gap: 20px;
}

.slider-box__slider span {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    background: #DCDCDC;
    height: 6px;
    align-self: center;
    border-radius: 2px;
}
