.footer {
    background-color: #F2F2F2;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    align-content: center;
}

.footer__logo-cat-energy {
    display: flex;
    align-items: center;
}

.footer__logo-cat-energy a:hover {
    opacity: 0.7;
}

.footer__socials {
    display: flex;
    gap: 22px;
    align-items: center;
}

.footer__logo-html-academy a {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    color: #444444;
    text-decoration: none;
}

.footer__logo-html-academy a:hover {
    opacity: 0.7;
}

.map {
    position: relative;
}

.map__contacts {
    display: flex;
    gap: 25px;
    padding: 65px 90px 65px 76px;
    position: absolute;
    top: 95px;
    background-color: white;
    max-width: 570px;
    height: auto;
}
.contacts__title h4{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 21px;
}

.contacts__address {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contacts__address p {
    color: #444444;
    line-height: 20px;
}

.map-pin{
    position: absolute;
    top: 15px;
    right: -240px;
}

@media screen and (max-width: 768px) {
    .map .container{
        background-color: white;
    }
    .map__contacts {
        display: flex;
        justify-content: space-between;
        position: static;
        padding: 65px 90px 65px 76px;
        background-color: white;
        max-width: 100%;
        height: auto;
    }
    .contacts__title {
        max-width: 218px;
    }
    .contacts__address{
        align-items: flex-end;
    }
    .map-pin{
        top: 280px;
        right: 190px;
    }
}