.header {
    padding-top: 71px;
    margin-bottom: 111px;
}

.header__content-logo a {
    display: flex;
}

.header__content-logo a:hover {
    opacity: 0.8;
    transition: opacity ease-in-out 0.25s;
}

.header__content-logo a:active{
    opacity: 0.6;
    transition: opacity ease-in-out 0.25s;
}

.header__content {
    display: flex;
    justify-content: space-between;
}

.header-tablet {
    display: none;
    padding-top: 24px;
}

.header-tablet__content-logo {
    max-width: 174px;
    height: auto;
}

@media screen and (max-width: 1300px) {
    .header {
        margin-bottom: 62px;
    }
}

