.header__content-navigation {
    display: flex;
    align-items: center;
}

.navigation__list {
    display: flex;
    gap: 33px;
}

.navigation__list a {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.navigation__list a:hover {
    opacity: 0.6;
    transition: opacity ease-in-out 0.25s;
}

.navigation__list a:active {
    opacity: 0.2;
    border-bottom: none;
}

.active {
    padding-bottom: 8px;
    border-bottom: 2px solid #FFFFFF;
}

.dark-font__active {
    padding-bottom: 8px;
    border-bottom: 2px solid #68B738;
}

.header-tablet__content {
    display: flex
}

.header-tablet__navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__dark-font .navigation__item a {
    color: black;
}

@media screen and (max-width: 1300px) {
    .navigation__list a {
        font-size: 18px;
        color: black;
    }

    .navigation__list a:hover {
        padding-bottom: 8px;
        border-bottom: 2px solid #68B738;
    }
}
