
.procedures__title {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 31px;
}

.procedures__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(244px, 1fr));
    gap: 81px;
}

.procedures__list-card {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #444444;
    padding-bottom: 57px;
}

.card__content {
    z-index: 3;
}

.card__content-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: #68B738;
    margin-bottom: 31px;
}

.card__content-image-box img {
    width: 32px;
    height: 30px;
}

.card__number-box {
    position: absolute;
    top: 89px;
    right: 0;
}

.card__number-box span {
    font-family: 'Oswald', sans-serif;
    font-size: 280px;
    color: #F2F2F2;
}

@media screen and (max-width: 1300px) {
    .procedures__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        row-gap: 150px;
    }
}

